:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;

  mat-form-field {
    width: 50%;
    margin-bottom: 20px;
  }

  .mat-elevation-z8 {
    width: 100%;
    table {
      width: 100%;
      overflow: auto;
      .mat-row:hover {
        background-color: #f5f5f5;
      }

      .mat-icon-button:hover {
        background-color: #e0e0e0;
        color: #333;
      }

      .narrow-column {
        width: 80px;
      }
    }
  }
}
